.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.left-content-container {
  width: 20vw;
}

.right-content-container {
  width: 20vw;
}