.plans-main{
    /* width: 90vw; */
    padding: 0.2rem 5rem;
    background-color: pink;
    /* max-height: 90vh; */

}

.module-chapters-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.heading {
    margin-left: 5rem;
}

.plans-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    
}

.plans-container-left {
    display: flex;
    flex-direction: column;
    width: 40rem;
    /* background-color: green; */
}
.plans-container-right {
    display: flex;
    flex-direction: column;
    width: 40rem;
    /* background-color: rgb(13, 0, 128); */
}