.plans-main{
    width: 80vw;
    /* max-height: 90vh; */

}

.module-chapters-checkbox {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.heading {
    margin-left: 28rem;
}

