.notes-upload-main {
    display: flex;
    flex-direction: row;1
}


.notes-upload-container {
    display: flex;
    flex-direction: column;
}

.notes-pdf, .notes-link {
    display: flex;
    flex-direction: row;
}