.notes-container {
    width: 80vw;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-u
}

h2 {
    text-align: center;
    padding: 2rem 0;
}

.notes-form-container {
    padding: 1rem 0;
}

.notes-upload-main {
    display: flex;
    flex-direction: row;
}


.notes-upload-container {
    display: flex;
    flex-direction: column;
}

.notes-pdf, .notes-link {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

.notes-upload-container {
    padding: 0rem 1rem;
}

p{
    font-weight: bold;
}