.attendance-main {
    background-color: pink;
    width: 80vw;
}

.attendance-class {
    /* background-color: pink; */
}

.attendance-class-inputs-container {
    display: flex;
    flex-direction: row;
    min-width: 40rem;
}